<!-- /views/rock.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Game</title>
</head>

<body>
  <h1>We played rock!</h1>
  <h1>They played <%= @hand %>!</h1>
  <h1><%= @outcome %></h1>
</body>
</html>
